@model IEnumerable<EEP_Models.Models.Department>
@using GridMvc.Html
@{
    ViewBag.Title = "viewdept";
    Layout = "~/Views/_AdminLayout.cshtml";
}

<h2>viewdept</h2>

<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/gridmvc.js"></script>
<script src="~/Scripts/gridmvc.min.js"></script>



@Html.Grid(Model).Columns(Columns=> {
    Columns.Add(c => c.DeptId).Titled("DeptId").Filterable(true);
    Columns.Add(c => c.DeptName).Titled("DeptName").Filterable(true);
    Columns.Add(c => c.DeptRole).Titled("DeptRoll").Filterable(true);
    Columns.Add()
            .Encoded(false)
            .Sanitized(false)
            .SetWidth(5)
            .RenderValueAs(o => Html.ActionLink("Edit", "Edit", new { id = o.DeptId }));

}).WithPaging(5).Sortable(true)
