
#menu ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

    #menu ul li {
        background-color: sandybrown;
        border: 1px solid white;
        width: 130px;
        height: 25px;
       line-height:25px;
        text-align: center;
        border-radius: 8px;
        float: left;
        position: relative;
    }

        #menu ul li a {
            text-decoration: none;
            color: white;
            display: block;
        }

            #menu ul li a:hover {
                color: red;
            }

    #menu ul ul {
        position: absolute;
        display: none;
        padding: 0px;
        margin: 0px;
    }

    #menu ul li:hover > ul {
        display: block;
    }

    #menu ul ul ul {
        margin-left: 130px;
        top: 0px;
    }
    #menu {
        float:left;
    }

#n1 {
    float: left;
    text-align: center;
    line-height: 100%;
}

#n2 {
    float: right;
}

#n3 {
    float: left;
    width: 80%;
    
}

#n4 {
    width: 20%;
    float: right;
}

p {
    text-align: justify;
}
#login a {
    text-decoration: none;
}
