
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/_HomeLayout.cshtml";
}
<link href="~/myscripts/RegisterStyleSheet.css" rel="stylesheet" />
<form method="post" id="regForm">
    <table align="center" style="width: 100%;height: 100%;">
        <tr>
            <td>Enter Name</td>
            <td><input type="text" name="t1" id="name" required="" placeholder="Name" autofocus></td>

        </tr>
        <tr>
            <td>Enter RollNo</td>
            <td><input type="text" name="t2" required="" id="roll" placeholder="RollNo"></td>
        </tr>
        <tr>
            <td>Select Gender</td>
            <td>
                <input type="radio"  name="r1" value="Male" class="a1" checked style="width:10px"><span>Male</span>
                <input type="radio"  name="r2" value="Female" class="a1" style="width:10px"><span>Female</span>
            </td>
        </tr>
        <tr>
            <td>Enter Email</td>
            <td><input type="Email" name="t4" placeholder="Email" required=""></td>
        </tr>
        <tr>
            <td>Enter Date of Brith</td>
            <td><input type="date" name="DOB"></td>
        </tr>
        <tr>
            <td>Select Course</td>
            <td>
                <select name="Course">
                    <option>select</option>
                    <option>B.tech</option>
                    <option>M.tech</option>
                    <option>MCA</option>
                    <option>MBA</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Enter Username</td>
            <td><input type="text" name="t1" id="a1" required=""></td>

        </tr>
        <tr>
            <td>Enter Password</td>
            <td><input type="Password" name="t2" required="" id="p1"></td>
        </tr>
        <tr>
            <td></td>
            <td><input id="b7" type="submit" name="b1" value="Register"></td>
        </tr>
    </table>
</form>